Source: duplicity
Section: utils
Priority: optional
Maintainer: Alexander Zangerl <az@debian.org>
Build-Depends: debhelper-compat (= 13),
 dh-python,
 gnupg | gnupg1,
 rsync,librsync-dev (>=0.9.6),
 par2,
 pylint,
 python3-pytest, python3-pytest-runner,
 python3-pytest-cov,
 python3-all-dev,
 python3-fasteners, 
 python3-pycodestyle,
 python3-pexpect,
 python3-setuptools,
 rdiff,
 rename,
Standards-Version: 4.7.3
Homepage: https://duplicity.us/
Vcs-Git: https://github.com/az143/duplicity.git
Vcs-Browser: https://github.com/az143/duplicity
X-Python3-Version: >= 3.9

Package: duplicity
Architecture: any
Depends: ${shlibs:Depends}, ${python3:Depends}, ${misc:Depends}, python3-fasteners, gnupg | gnupg1
Recommends: rsync, python3-paramiko, python3-pexpect, python3-urllib3, python3-oauthlib, python3-socks
Suggests: python3-boto3, ncftp, lftp, tahoe-lafs, python3-swiftclient, python3-pip, par2, b2sdk
Description: encrypted bandwidth-efficient backup
 Duplicity backs directories by producing encrypted tar-format volumes
 and uploading them to a remote or local file server. Because duplicity
 uses librsync, the incremental archives are space efficient and only
 record the parts of files that have changed since the last backup.
 Because duplicity uses GnuPG to encrypt and/or sign these archives, they
 will be safe from spying and/or modification by the server.

